<ul class="flex flex-row justify-between w-full text-xl font-bold">
  <li
    class="rounded-xl bg-sky-600 text-white text-center py-3 px-10 shadow-lg shadow-gray-400"
    (click)="clearDisplay()"
  >
    AC
  </li>
  <li
    class="rounded-xl bg-sky-600 text-white text-center py-3 px-10 shadow-lg shadow-gray-400"
    (click)="useParentesis()"
  >
    ( )
  </li>
  <li
    class="rounded-xl bg-sky-600 text-white text-center py-3 px-10 shadow-lg shadow-gray-400"
    (click)="usePercent()"
  >
    %
  </li>
  <li
    class="rounded-xl bg-sky-600 text-white text-center py-3 px-10 shadow-lg shadow-gray-400"
    (click)="deleteLast()"
  >
    DEL
  </li>
</ul>
