<div class="flex flex-col gap-4 text-xl font-bold">
  <ul class="grid grid-cols-3 w-full gap-5">
    <li
      *ngFor="let number of del1al9"
      class="rounded-xl bg-sky-600 text-white text-center py-5 shadow-lg shadow-gray-400"
      (click)="sendNumberToParent(number)"
    >
      {{ number }}
    </li>
  </ul>
  <ul class="flex flex-row justify-evenly w-full gap-4">
    <li
      class="w-3/4 rounded-xl bg-sky-600 text-white text-center py-5 shadow-lg shadow-gray-400"
    >
      0
    </li>
    <li
      class="rounded-xl w-1/4 bg-sky-600 text-white text-center py-5 shadow-lg shadow-gray-400"
    >
      .
    </li>
  </ul>
</div>
