<div class="h-screen mt-32">
  <div
    class="flex flex-col gap-4 justify-center mx-auto w-1/4 bg-sky-950 py-5 px-5 rounded-xl shadow-2xl shadow-yellow-950"
  >
    <app-display [numberFromParent]="newNumber"></app-display>
    <app-top
      class="w-full"
      (displayCleared)="clearDisplay()"
      (paretensisUsed)="groupNumber()"
      (percentUsed)="useFunction('% ')"
      (deleteLastUsed)="deleteLast()"
    ></app-top>
    <div class="flex flex-row gap-4 w-full h-4/5">
      <app-numbers
        class="w-10/12"
        (numberPressed)="numberClicked($event)"
      ></app-numbers>
      <app-right
        class="w-20 h-full"
        (functionUsed)="useFunction($event)"
        (equalUsed)="calculate()"
      ></app-right>
    </div>
  </div>
</div>
