<ul
  class="flex flex-col gap-5 justify-between h-full font-bold text-3xl align-middle"
>
  <li
    class="rounded-xl bg-sky-600 text-white text-center py-1.5 shadow-lg shadow-gray-400"
    (click)="useFunction(' / ')"
  >
    /
  </li>
  <li
    class="rounded-xl bg-sky-600 text-white text-center py-1.5 shadow-lg shadow-gray-400"
    (click)="useFunction(' * ')"
  >
    *
  </li>
  <li
    class="rounded-xl bg-sky-600 text-white text-center py-1.5 shadow-lg shadow-gray-400"
    (click)="useFunction(' - ')"
  >
    -
  </li>
  <li
    class="rounded-xl bg-sky-600 text-white text-center py-1.5 shadow-lg shadow-gray-400"
    (click)="useFunction(' + ')"
  >
    +
  </li>
  <li
    class="rounded-xl bg-sky-600 text-white text-center py-1.5 shadow-lg shadow-gray-400"
    (click)="useCalc()"
  >
    =
  </li>
</ul>
